//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary-color: #7367F0;
$primary-active-color: #8278ee;
$text-color: #b4b7bd;
$disable-color: #676D7D;
$box-color: #404656;